.films-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 15px; 
    border-bottom: 1px solid #909090;
    margin-bottom: 15px;
}

.film-cards-container{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    justify-content: space-between;
}