.current-film-description {
    margin-top: 385px;
    position: relative;
}
.current-film-description::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent,#000000, #000000);
    opacity: 0.4;
}

.current-film-title{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 7px;
}

.current-description-list{
    display: flex;
    margin: 0;
    padding: 0;
    margin-block-start: auto;
}

.current-description-item{
    padding-right: 10px;
    text-transform: capitalize;
    margin-bottom: 27px;
}

.fa.fa-star{
    margin-right: 8px;
    color: #0AAEE4;
    font-size: 23px;
}

.current-film-mark{
    padding: 2px 8px 0px;
    border-radius: 5px;
    border: 1px solid #0AAEE4;
}

.header-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}