@import "variables";
@import "mixin";
@import "reset";
@import "sections/sections";
@import "mixin";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.d-flex {
  @include flex;
}

.flex-between{
  @include flex-between;
}

.flex-center{
  @include flex-center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

body{
  font-family: "Roboto",sans-serif;
}

@media (max-width: 1169px) {
  .container{
    margin: 0 80px;
  }
}

@media (max-width: $mobile) {
  .container{
    margin: 0 25px;
  }
}