/* COMMON STYLE */
.c-white {
    color: #ffffff;
}
.right-txt-align {
    text-align: right;
}
.left-txt-align {
    text-align: left;
}
.center-txt-align {
    text-align: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
body {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
}

/* NAV-BAR */


.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d2124;
    /*width: 100%;*/
}

.nav-bar-logo {
    font-size: 22px;
    text-transform: capitalize;
    display: flex;
}

.nav-logo-img {
    padding: 21px;
    background-color: #1a1d20;
}

.nav-bar-img {
    padding: 0;
    margin: 0;
}

.nav-bar-text {
    align-self: center;
    padding-left: 6px;
}

.nav-bar-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-transform: uppercase;
    align-items: center;
}

.nav-list-item {
    margin-right: 36px;
}

.nav-list-item:nth-child(1) {
    margin-left: 36px;
}

.nav-bar-search {
    padding: 25px;
    background-color: #1a1d20;
}

/* HEADER */

.header {
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 127px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* Parallax */
    background-attachment: fixed;
    background-position: center;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.header-title {
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 44px;
    font-size: 27px;
}

.header-buttons {
    z-index: 1;
    text-transform: capitalize;
    font-weight: bolder;
}

.subscribe-button {
    background-color: #89ca62;
    border-radius: 5px;
    font-size: 18px;
    padding: 21px;
    padding-top: 19px;
    margin-right: 20px;
}

.articles-button {
    background-color: #14b9d5;
    border-radius: 5px;
    font-size: 18px;

    padding: 20px 32px;
}

/* MOST POPULAR POST */

.most-popular-post-title {
    color: #18b4cf;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.most-popular-post-background {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.most-popular-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popular-post-title{
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
    font-weight: bold;
    color: #353a3d;
}
.most-popular-post {
    background-color: #fff;
    margin-bottom: 32px;
    margin-right: 30px;
}

/* OUR MOST POPULAR CLIENTS */

.our-popular-clients {
    display: grid;
    background-image: url(../img/parallax-bg.jpeg);
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
}

/* MOST POPULAR CLIENT */

.popular-client-title {
    margin-top: 200px;
    margin-bottom: 55px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    justify-self: center;
}

.cyan-line {
    background-color: #169cb4;
    width: 60px;
    height: 3px;
    justify-self: center;
    margin-bottom: 60px;
}

.popular-clients-logo {
    justify-self: center;
    margin-bottom: 200px;
}

.clients-logo-link {
    margin-right: 75px;
}

.clients-logo-link:nth-last-child(1){
    margin-right: 0;
}

/* TOP RATED */

.top-rated {
    margin-bottom: 51px;
    margin-top: 51px;
}

.top-rated-title {
    color: #18b4cf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    margin-bottom: 50px;
}

.top-rated-photo {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7,1fr) ;
}

/* HOT NEWS */

.hot-news-title {
    color: #18b4cf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    margin-bottom: 50px;
}

.hot-post-title {
    color: #353a3d;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hot-post-text {
    font-size: 14px;
    color: #666e72;
    margin-bottom: 20px;
}

/*  NEW POSTS */

.hot-news {
    margin-bottom: 71px;
}
.new-post-item {
    margin-right: 25px;
}

.hot-news-posts {
    display: grid;
    grid-template-columns: repeat(4,259.5px);
    grid-template-areas: "item1 item1 item1 item2"
                        "item3 item3 item4 item4"
                        "item5 item5 item6 item6"
                        "item7 item8 item8 item8";
    grid-row-gap: 42px;
    grid-column-gap: 35px;
    justify-content: center;
}

.new-post-first {
    background-color: #f9f7f7;
    grid-area: item1;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

}

.in-post-item {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
}
.new-post-second {
    background-color: #f9f7f7;
    grid-area: item2;
}

.new-post-third {
    background-color: #f9f7f7;
    grid-area: item3;
    margin-right: 12.5px;
}

.new-post-four {
    background-color: #f9f7f7;
    grid-area: item4;
    margin-left: 12.5px;
}

.new-post-five {
    background-color: #f9f7f7;
    grid-area: item5;
    margin-right: 12.5px;
}

.new-post-six {
    background-color: #f9f7f7;
    grid-area: item6;
    margin-left: 12.5px;
}

.new-post-seven {
    background-color: #f9f7f7;
    grid-area: item7;
}

.new-post-eight {
    background-color: #f9f7f7;
    grid-area: item8;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

/* FOOTER */

.footer {
    background-color: #1d2124;
    padding-top: 33px;
    padding-bottom: 33px;
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 13px;
}