body {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    overflow: hidden;
}
.fake-block {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    z-index: -1;
}
.parallax-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;

}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;
}

.parallax-title {
    font-size: 90%;
    text-align: center;
}

@keyframes crawl {
    0% {
        opacity: 1;
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: -5000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

