body {
    margin: 0;
    background-color: red;
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
    display: flex;

}

* {
    box-sizing: border-box;
}

.posts-container{
    width: 70%;
}
.post,.post-adder__button {
    cursor: default;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 0 #c9cfd4;
    position: relative;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);
    transition: background-color 0.2s linear;
}

.post:hover {
    background-color: #e3f2fd;
    cursor: pointer;
}

.post:focus {
    cursor: auto;
}

.post__delete-button{
    position: absolute;
    right: 15px;
    top: 15px;
}

.advertising{
    padding: 15px;
    padding-top: 50px;
    background-color: #fff;
}
.post-adder__button{
    background-color: greenyellow;
    display: none;
}
.post-adder__form{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: none;
    z-index: 999;
}

form{
    display: flex;
    flex-direction: column;
}

form > * {
    width: 50%;
    margin: 15px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
