/* COMMON STYLE */

.color-Blue {
    color: #4bcaff;
}
.color-Black {
    color: #000000;
}
.font-family {
    font-family: Arial,sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

/* HEADER */

.header {
    margin-top: 61px;
    margin-bottom: 45px;
}
.header-link {
    text-decoration: none;
    font-size: 80px;
    text-align: left
}

/* TOP MENU */

.TopMenu {
    background-color: #35444F;
    margin-bottom: 51px;
}
.TopMenu-list {
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 51px;
}
.TopMenu-list-total {
    background-color: #222F3A;
    outline: 1px solid #818181;
}
.TopMenu-link {
    text-decoration-line: none;
    color: #FFFFFF;
}
.TopMenu-list-item {
    display: inline-block;
    padding-right: 41px;
    padding-left: 41px;
    padding-top: 26px;
    padding-bottom: 21px;
    font-size: 24px;
}
.TopMenu-list-item:hover {
    background-color: #222F3A;
    outline: 1px solid #818181;
}

/* LEFT MENU */

.LeftMenu {
    display: inline-block;
    width: 344px;
    vertical-align: top;
    border: 1px solid #35444f;
}
.LeftMenu-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 342px
}
.LeftMenu-list-obj{
    margin: 0 auto;
}
.LeftMenu-list-item {
    display: inline-block;
    text-decoration-line: none;
    color: #495863;
    font-size: 30px;
    padding-left: 44px;
    padding-bottom: 28px;
    padding-top: 28px;
    width: 300px;
    
}
.LeftMenu-list-item:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 69px;
    width: 274px;
}
.LeftMenu-list-item-total {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 69px;
    width: 274px;
}

/* MAIN MENU */
.Main-Menu {
    display: inline-block;
    margin-left: 45px;
    vertical-align: top;
    width: 885px;
}
.image {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border: 1px solid #495863;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.img {
    display: inline-block;
    transition: 1s;
}
.img:hover {
    transform: scale(1.2);
}
.Text {
    width: 827px;
    padding-left: 30px;
}
.Text-content {
    font-size: 18px;
    margin-right: 20px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-top: 30px;
}

/* FOOTER */

.LowerMenu {
    background-color: #b4b7ba;
    color: #010101;
    margin-top: 30px;
}
.LowerMenu-list{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    text-align: left;
    width: 1000px;
    font-size: 24px;

}
.LowerMenu-list-item {
    display: inline-block;
}
.LowerMenu-link {
    color: #010101;
    text-decoration-line: none;
    display: inline-block;
    margin-right: 21px;
    margin-left: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.LowerMenu-link:hover {
    color: #3181a6;
    text-decoration-line: underline;
}
.Copyright{
    font-size: 24px;
    color: black;
    display: inline-block;
    text-align: right;
}