/*  COMMON STYLES */

.all-page {
    background-image: url(../img/rana-sawalha-364253-unsplash@1X.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container {
    width: 324px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: rgba(0,0,0,0.4);
}

.header::after {
    content: '';
    display: table;
    clear:both;
}

.logo {
    float: left;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration-line: none;
    margin-left: 81px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo:hover {
    color: #3cb878;
}

.nav-bar {
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 75px;
}

.header-img {
    margin-right: 25px;
}

.img-link1 {
    display: inline-block;
    background-image: url(../img/css_sprites.png);
    background-position: -106px -49px;
    width: 19px;
    height: 19px;
}

.img-link1:hover {
    background-position: -106px -10px;
}

.img-link2 {
    display: inline-block;
    background-image: url(../img/css_sprites.png);
    background-position:  -58px -10px;
    width: 28px;
    height: 20px;
}

.img-link2:hover {
    background-position:  -10px -10px;
}

.img-link3 {
    display: inline-block;
    background: url(../img/css_sprites.png);
    background-position: -50px -50px;
    width: 20px;
    height: 20px;
}

.img-link3:hover {
    background-position: -10px -50px;
}

.img-link4 {
    display: inline-block;
    background: url(../img/css_sprites.png) -145px -10px;
    width: 1px;
    height: 19px;
}

.header-text {
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.header-link {
    color: #3cb878;
    text-decoration-line: none;
}

.header-link:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #3cb878;
}

/* FORM */

.form-header::after {
    content: '';
    display: table;
    clear: both;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 444px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: translate(-50%, -50%)
}

.green-rectangle {
    position: absolute;
    top: 29px;
    width: 18px; height: 18px;
    background: url('../img/css_sprites.png') -10px -90px;
}

.registration-form::after {
    content: '';
    display: block;
    clear: both;
}

.form-text {
    padding-top: 29px;
    float: left;
    font-size: 20px;
    color: #434343;
    text-transform: capitalize;
    font-family: Verdana, Geneva, sans-serif;
}


.log-in-link {
    padding-top: 29px;
    float: right;
    color: #3cb878;
    text-decoration-line: none;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.log-in-link:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid #3cb878;

}

.facebook-button {
    display: inline-block;
    margin-top: 15px;
    background-color: #305db8;
    border: 1px solid #305db8;
    border-radius: 5px;
    width: 157px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-right: 6px;
    box-sizing: border-box;
    text-decoration-line: none;
}

.facebook-button:hover {
    background-color: #264b96;
}

.google-button {
    padding-left: 13px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;
    margin-top: 15px;
    background-color: #df4a32;
    width: 157px;
    border: 1px solid #df4a32;
    border-radius: 5px;
    color: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration-line: none;
}

.google-button:hover {
    background-color: #c3412c;
}
.text-with-lines {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #848484;
    margin-top: 33px;

}

.text-with-lines::before {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    width: 137px;
    height: 2px;
    background-color: #eaeaea;
    margin-right: 16px;
}

.text-with-lines::after {
    content: '';
    margin-bottom: 3px;
    display: inline-block;
    width: 137px;
    height: 2px;
    background-color: #eaeaea;
    margin-left: 16px;
}
.input {
    width: 302px;
    padding-left: 17px;
    border-radius: 5px;
    margin-bottom: 9px;
    height: 46px;
    font-size: 14px;
    border: 1px solid #bebebe;
}
.input-name {
    margin-top: 18px;
}

.licence {
    text-decoration-line: none;
    color: #3cb878;
}

.licence:hover {
    border-bottom: 1px solid #3cb878;
}

.licence-text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
.licence-check {
    margin-top: 24px;

}

.submit-button {
    margin-top: 26px;
    margin-bottom: 36px;
    width: 322px;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 17px;
    padding-bottom: 17px;
}
.submit-button:hover {
    background-color: #329a65;
}