.action-section-link{
    color: #ffffff;
    margin-right: 20px;
    padding: 5px 12px;
    text-transform: capitalize;
}

.action-section-link.blue {
    background-color: #0AAEE4;
    border-radius: 3px;
}

.action-section-link.white{
    border: 1px solid #ffffff;
    border-radius: 3px;
}