Html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1060px;
    margin: 0 auto;
}
.header {
    padding-top: 32px;
    padding-bottom: 35px;
    text-align: center;
}
.header-link {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration-line: none;
    color: #16a086;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.image {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    background-color: #f5f6f7;
    padding-bottom: 0;
}
.Main-content {
    margin-top: 0;
    background-color: #f5f6f7;
    padding-top: 59px;
}
.Main-content-title {
    font-size: 22px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 34px;
}
.Main-content-text {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #373737;
}
.button {
    background-color: #f5f6f7;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 94px;
}
.button-content {
    color: #ffffff;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
.Author {
    padding-top: 47px;
    padding-bottom: 45px;
}
.Author-text {
    text-align: right;
    margin-right: 104px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #373737;
}

