.header{
    color: #ffffff;
    position: relative;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./img/headerbg.png");
}