.footer-contacts {
  background-color: #000000;
  padding: 50px 0;
}

.footer-contact-title {
  color: #EAEAEA;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 22px;
}

.footer-contact-text {
  color: #6B6C6C;
  width: 600px;
  box-sizing: border-box;
  margin: 0 auto 26px;
  line-height: 1.5;
}

.social-links {
  margin-bottom: 31px;
  @include flex-center
}

.social-icon {
  border-radius: 50%;
  @include flex-center;
  text-decoration: none;
  margin-right: 9px;
  width: 40px;
  height: 40px;
}
.rss-icon {
  color: #c6762b;
  border: 1px solid #c6762b;
}
.facebook-icon {
  color: #334c82;
  border: 1px solid #334C82;
}
.tumblr-icon {
  color: #3c8eb6;
  border: 1px solid #3C8EB6;
}
.dribbble-icon {
  color: #ae658f;
  border: 1px solid #AE658F;
}
.pinterest-icon {
  color: #a42129;
  border: 1px solid #A42129;
}

.our-contacts {
  color: #6B6C6C;
  text-align: center;
  font-size: 16px;
}

@media (max-width: $tablet) {
  .footer-contact-text{
    width: 100%;
    font-size: 12px;
  }
  .footer-contact-title{
    font-size: 14px;
  }
}

@media (max-width: $mobile) {
  .social-icon{
    width: 35px;
    height: 35px;
  }
}