.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
}

.navbar-nav {
  display: none;
  justify-content: center;
}

.navbar-nav-item {
  display: inline-block;
  margin-right: 30px;
  &:hover{
    .navbar-nav-link {
      color: #7eb8b8;
    }
    cursor: pointer;
  }
}

.navbar-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #4e4e4e;
  font-family: "Lato" , sans-serif;
  font-weight: bold;
  transition: 0.4s;
  &.active {
    color: #7eb8b8;
  }
}

.nav-toggle{
  background-color: #000000;
  @include flex-center;
  align-items: center;
  width: 35px;
  display: none;
  &:hover{
    cursor: pointer;
  }
}


#nav-toggle {position: relative; display: inline-block; width:35px; height:25px;}
#nav-toggle span { position: absolute; left: 50%; top: 11px; transform: translateX(-50%)}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  position: absolute;
  display: block;
  content: '';
  height: 2px;
  width: 17px;
  background: white;
  border-radius: 1px;
  cursor: pointer;
}
#nav-toggle span:before {
  top: -5px;
}
#nav-toggle span:after {
  bottom: -5px;
}

/* Добавим анимацию всех свойств для блоков нашей иконки */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 0.5s ease-in-out;
}

/* Центральный блок делаем прозрачным */
#nav-toggle.active span {
  background-color: transparent;
}

/* Смещаем псевдо-элементы в центр иконки (на место основного блока) */
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

/* Наклоняем псевдо-элементы под углом 45 градусов, но в разные стороны */
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media (max-width: $tablet) {
  .navbar-nav{
    @include flex;
  }
}

@media (max-width: 830px) {
  .navbar-nav-item{
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-nav{
    display: none;
    &.active{
      @include flex;
      flex-direction: column;
      position: absolute;
      top: 150%;
      background-color: #ffffff;
    }
  }

  .nav-toggle{
    display: flex;
  }

  .navbar{
    .container{
      display: flex;
      position: relative;
      justify-content: flex-end;
    }
  }

  .navbar-nav-link{
    font-size: 11px;
    padding-left: 13px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 2px;

  }

  .navbar-nav-item{
    width: 150px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #F5F5F5;
    &:hover{
      background-color: #f5f5f5;
    }
  }
}