.instagram-posts{
  background-color: #F7F7F7;
  padding: 70px 0;
}

.instagram-post-title{
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
  color: #4e4e4e;
  font-weight: bold;
  &.mobile{
    display: none;
  }
}
.instagram-page-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
  color: #4e4e4e;
  font-weight: bold;
}

.instagram-post-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.instagram-post-link {
  text-decoration: none;
}

.instagram-post-img{

  max-width: 285px;
}

@media (max-width: 1169px) {
  .instagram-post-link{
    &:nth-child(4){
  display: none;
  }
    width: 30%;
  }

  .container{
    .flex-between{
      margin: 0 15px;
    }
  }

  .instagram-post-box{
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .instagram-post-title{
    display: none;
    &.mobile{
      display: inline-block;
      font-size: 14px;
    }
  }

  .instagram-page-link{
    display: none;
  }

  .instagram-post-link{
    display: none;
    &:nth-child(1){
      display: inline-block;
      width: 100%;
    }
  }

  .instagram-post-img{
    width: 100%;
  }
}