.recents-posts{
  padding: 80px 0 71px;

}

.recents-posts-title{
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #4e4e4e;
}

.recents-posts-block {
  @include flex;
}

.recents-post {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 24px;
  @include flex
}

.recent-post-img {
  max-width: 29%;
  margin-right: 20px;
}

.recent-post-content {
  box-sizing: border-box;
  width: 65%;
  padding-right: 28px;
}

.recent-post-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  line-height: 1.5;
}

.recent-post-info {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 11px;
  font-style: italic;
  color: #7c7c7c;
}

.recent-post-text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  color: #5c5c5c;
}

@media (max-width: $tablet) {
  .recents-post{
    width: 100%;
    &:nth-last-child(1){
      display: none;
    }
  }

  .recent-post-title{
    font-size: 16px;
  }

  .recent-post-info{
    font-size: 12px;
  }


  .recent-post-content{
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .recent-post-text{
    display: none;
  }

  .recent-post-info{
    font-size: 11px;
  }

  .recent-post-content{
    .recent-post-title{
      font-size: 14px;
    }

    margin-top: 15px;
    width: 100%;
  }
}