.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.image-to-show.active{
    display: block;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
    margin-top: 50px;
}

.btn-container > * {
    padding: 50px;
    background-color: yellow;
    cursor: pointer;
    color: red;
    text-align: center;
}