.film-card-container{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-bottom: 20px;
}

.film-card-img{
    max-width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
}

.film-card-title{
    color: #242B2D;
    font-size: 18px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 10px;
    position: relative;
}

.film-card-genres{
    margin-left: 20px;
    color: #47C3F0;
    font-size: 12px;
    font-weight: bold;
}

.film-card-mark{
    position: absolute;
    color: #47C3F0;
    border: 1px solid #47C3F0;
    border-radius: 3px;
    padding: 0 5px;
    font-weight: normal;
    font-size: 14px;
    right: 20px;
}