@font-face {
    font-family: 'Arimo';
    src: url("../fonts/Arimo/Arimo-Regular.ttf") , url("../fonts/Arimo/Arimo-Italic.ttf") ,
    url("../fonts/Arimo/Arimo-Bold.ttf") , url("../fonts/Arimo/Arimo-Bolditalic.ttf");
}

/* COMMON STYLES */

.main-table {
    width: 1192px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    top: 20px;
    border: 22px solid #3a4965;
    font-family: "Arimo" , sans-serif;
}

.tbody-border-dark {
    border-right: 2px ridge #cfcfcf;

}

.tbody-border-light {
    border-right: 2px solid #dadada;
}

/* THEAD */

.main-table-head {
    background-color: #fafafa;

}

.thead-first-row {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 26px;
    padding-bottom: 26px;
}

.thead-first {
    vertical-align: middle;
    color: #484848;
    font-size: 18px;
    text-align: center;
}

.thead-first-span {
    font-size: 30px;
    margin: 0;
}

.thead-second {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.thead-third {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
}

.thead-four {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
}

.thead-cost {
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #484848;
}

.thead-cost-item::after {
    content: 'Per Month';
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;

}

.thead-cost-sup {
    position: relative;
    line-height: 0;
    font-size: 24px;
    vertical-align: baseline;
    top: -1em;
    left: -4.5em;
}

/* TBODY */

.main-table-body .table-body-row:nth-child(odd){
    background-color: #f2f2f2;
}

.main-table-body .table-body-row:nth-child(even){
    background-color: #e3e3e3;
}

.table-body-row {
    color: #656565;
    text-align: center;
    text-transform: uppercase;
}

.table-body-row td{
    padding-top: 29px;
    padding-bottom: 29px;
}


/* TFOOT */

.tfoot-row td {
    padding-top: 32px;
    padding-bottom: 22px;
    text-align: center;
}

.tfoot-first {
    background-color: #dddddd;
}

.tfoot-second, .tfoot-third, .tfoot-four {
    background-color: #eeeeee;
}

.tfoot-button {
    position: relative;
    color: #ffffff;
    width: 192px;
    padding-top: 18px;
    padding-bottom: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    border-bottom: 8px solid;
    margin: 0 10px 18px 0;

}

.tfoot-button:hover {
    animation: loading 0.6s infinite;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.tfoot-button:active {
    border: none;
    bottom: -4px;
    margin-bottom: 22px;

}

.tfoot-first-button {
    background-color: #484848;
    border-bottom-color: #404040;
}

.tfoot-second-button {
    background-color: #89c331;
    border-bottom-color: #79b027;
}

.tfoot-third-button {
    background-color: #f04a56;
    border-bottom-color: #df3a46;
}

.tfoot-four-button {
    background-color: #20807c;
    border-bottom-color: #16736f;
}