.price-input {
    border-radius: 5px;
}
.price-input:focus{
    outline: none;
}
.price-input:focus {
    border: 2px solid green;
}
.price-input.false-value{
    border: 2px solid red;
}
.span {
    position: relative;
}
.incorrect-message{
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 26px;
    display: block;
}
.close {
    color: red;
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 10px;
    cursor: pointer;
}
.close:hover {
    background-color: red;
    color: white;
}