<div class="footer-contacts">
    <div class="container">
        <h2 class="footer-contact-title text-center">- get in touch with us -</h2>
        <p class="footer-contact-text text-center">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <div class="social-links">
            <a href="#" class="social-icon rss-icon"><i class="fas fa-rss"></i></a>
            <a href="#" class="social-icon facebook-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon tumblr-icon"><i class="fab fa-tumblr"></i></a>
            <a href="#" class="social-icon dribbble-icon"><i class="fab fa-dribbble"></i></a>
            <a href="#" class="social-icon pinterest-icon"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <p class="our-contacts">
            <span class="footer-contacts-address"> Moonshine St. 14-05 Light City   /      </span>
            <span class="footer-contacts-phone">T. +00 (123) 456 78 90   /   </span>
            <span class="footer-email-address">first.last@gmail.com</span>
        </p>
    </div>
</div>