<div class="navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link active">home</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">about us</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">our journal</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">projects</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">news</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">features</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">contact</a></li>
        </ul>
        <div class="nav-toggle">
            <a id="nav-toggle"><span></span></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="about-us-main-img">
        <img class="img-fluid" src="img/about-us-img.png" alt="#">
    </div>
</div>
