<div class="instagram-posts">
    <div class="container">
        <div class="flex-between">
            <h2 class="instagram-post-title">- latest instagram shots</h2>
            <h2 class="instagram-post-title mobile">- latest instagram shot</h2>
            <a href="#" class="instagram-page-link">go to our instagrame page -</a>
        </div>
        <div class="instagram-post-box">
            <a href="#" class="instagram-post-link">
                <img src="img/instagram-img1.png" alt="" class="instagram-post-img img-fluid">
            </a>
            <a href="#" class="instagram-post-link">
                <img src="img/instagram-img2.png" alt="" class="instagram-post-img img-fluid">
            </a>
            <a href="#" class="instagram-post-link">
                <img src="img/istagram-img3.png" alt="" class="instagram-post-img img-fluid">
            </a>
            <a href="#" class="instagram-post-link">
                <img src="img/istagram-img4.png" alt="" class="instagram-post-img img-fluid">
            </a>
        </div>
    </div>
</div>