<div class="recents-posts">
    <div class="container">
        <h2 class="recents-posts-title">- our Recent posts</h2>
        <div class="recents-posts-block">
            <div class="recents-post">
                <div class="recent-post-img">
                    <img src="img/recent-img.png" alt="" class="img-fluid">
                </div>
                <div class="recent-post-content">
                    <h3 class="recent-post-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="recent-post-info">Photography, Journal   /   9 Comments</p>
                    <p class="recent-post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>

            </div>
            <div class="recents-post">
                <div class="recent-post-img">
                    <img src="img/recent-img-2.png" alt="" class="img-fluid">
                </div>
                <div class="recent-post-content">
                    <h3 class="recent-post-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="recent-post-info">Photography, Journal   /   9 Comments</p>
                    <p class="recent-post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="recents-post">
                <div class="recent-post-img">
                    <img src="img/recent-img-3.png" alt="" class="img-fluid">
                </div>
                <div class="recent-post-content">
                    <h3 class="recent-post-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="recent-post-info">Photography, Journal   /   9 Comments</p>
                    <p class="recent-post-text">Etiam porta sem malesuada euismod. Aenean leo quPellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="recents-post">
                <div class="recent-post-img">
                    <img src="img/recent-img-4.png" alt="" class="img-fluid">
                </div>
                <div class="recent-post-content">
                    <h3 class="recent-post-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="recent-post-info">Photography, Journal   /   9 Comments</p>
                    <p class="recent-post-text">Etiam porta sem malesuada euismmod. Aenean leo quPellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
