body {
    margin: 0;
    padding: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.wrapper {
    width: 800px;
    padding: 30px;
    margin: 30px auto;
    border: 3px solid black;

}

h1 {
    margin: 0;
    float: left;
    line-height: 94px;
}

#btnStart {
    display: block;
    margin: 15px auto;
}

.cell{
    width: 60px;
    height: 30px;
    border: 1px solid black;
}

.cell.active {
    background-color: blue;
}

.cell.bonked {
    background-color: green;
}

.cell.missed {
    background-color: red;
}

.game-container{
    margin: 0 auto;
}

#changeDifficult{
    margin-left: 450px;
}