/*COMMON STYLE*/

.wrapper {
    background-image: url(../image/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: sticky;
    width: 100vw;

}
.wrapper::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.container {
    width: 1060px;
    margin: 0 auto;
    position: relative;
}

.border-gradient {
    padding: 1px;
    position: relative;
    background: linear-gradient(to right , red, plum, blue, yellow, lawngreen, cyan);
    overflow: hidden;
}
 /*HEADER*/

.header {
    padding-top: 49px;
}

.header::after {
    content: '';
    clear: both;
    display: table;
}

.logo {
    font-family: Verdana, Geneva, sans-serif;
    float: left;
}
.logo-link {
    color: #ffffff;
    text-decoration-line: none;
    transition: 0.4s;
}
.logo-img {
    background-image: url(../image/logo.png);
    width: 46px;
    height: 44px;
    float: left;
    background-repeat: no-repeat;
    padding-right: 15px;
    transition: 0.4s;
}
.logo:hover .logo-img:nth-child(1) {
    background-image: url(../image/logo-hover.png);
}
.logo:hover .logo-link:nth-child(1){
    color: #f26522;
}
.logo-text {
    float: right;
}
.logo-title {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-subtitle {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-contacts {
    float: right;
    text-align: right;
    font-size: 18px;
    color: #ffffff;
}

/*CONTENT*/

.content {
    margin-top: 48px;
}
.content-item{
    float: left;
    margin-right: 65px;
    position: relative;
}
.content-item:nth-child(3n){
    margin-right: 0;
}
.content-item:hover .content-info{
    opacity: 1;
    animation-name: slideUp;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    visibility: visible !important;
}
 @keyframes slideUp {
     0% {
         transform: translateY(100%);
     }
     /*50% {*/
     /*   transform: translateY(-8%);*/
     /*}*/
     /*65% {*/
     /*    transform: translateY(4%);*/
     /*}*/
     /*80% {*/
     /*   transform: translateY(-4%);*/
     /*}*/
     /*95% {*/
     /*    transform: translateY(2%);*/
     /*}*/
     100% {
         transform: translateY(0%);
     }
 }
.content-item:hover .content-text {
    color: #f26522;
}
.content-text {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 58px;
}
.content-info {
    background-color: #f26522;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 63px;
    bottom: 97px;
}
.content-info-text {
    float: left;
    padding-top: 16px;
    padding-left: 21px;
}
.content-from {
    font-size: 10px;
}
.content-cost{
    font-size: 20px;
}
.content-details{
    float: right;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 35px;
    text-decoration-line: none;
    color: #ffffff;
}
.content-details::after {
    content: '>';
    padding-left: 15px;
    padding-right: 18px;
}

/*COPYRIGHT*/

.copyright {
    text-align: center;
    padding-bottom: 20px;
}
.copyright-text {
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
}